<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Username" value="abhijeet"/>
    <add key="Password" value="Secure*12"/>
    <!--<add key="ApiUrl" value="http://localhost:59138/CustomerService/AddEditCustomerDetails"/>-->
    <add key="ApiUrl" value="https://customerservice20200723121321.azurewebsites.net/CustomerService/AddEditCustomerDetails"/>
  </appSettings>
</configuration>